<mat-card>

    <mat-card-header>
        <mat-card-title>Add New Quiz</mat-card-title>
        <mat-card-subtitle>Please Provide Information</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="container">
            <div class="container text-center">

                <h1>Create New Quiz</h1>

            </div>

            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <form (ngSubmit)="quizSubmit()">

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Quiz Title</mat-label>
                            <input matInput placeholder="Ex. Programming" [(ngModel)]="quiz.title" name="title">
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Description</mat-label>
                            <textarea matInput #description maxlength="500" rows="5" [(ngModel)]="quiz.description"
                                name="description" placeholder="Ex. Tell Something About Your Category"></textarea>
                            <mat-hint align="start"><strong>Description Must be between 500</strong> </mat-hint>
                            <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
                        </mat-form-field><br><br>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Number of Question</mat-label>
                                    <input type="number" min="1" matInput placeholder="Ex. 10"
                                        [(ngModel)]="quiz.numberOfQuestion" name="numberOfQuestion">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Max. Marks</mat-label>
                                    <input type="number" min="1" matInput placeholder="Ex. 100"
                                        [(ngModel)]="quiz.maxMarks" name="maxMarks">
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Category</mat-label>
                            <mat-select [(ngModel)]="quiz.categoryDto.categoryId" name="categoryId">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let category of categories" [value]="category.categoryId">
                                    {{category.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-slide-toggle [(ngModel)]="quiz.isPublic" name="isPublic">
                            Make Quiz Public
                        </mat-slide-toggle>

                        <div class="container text-center">
                            <button type="submit" mat-raised-button>Add Category</button>
                        </div>

                    </form>

                    <br>
                </div>
            </div>

        </div>
    </mat-card-content>


</mat-card>